nav{
    text-align: center;
    background-color: rgb(87, 87, 87);
    padding: 30px;
    top: 0;
    border-radius: 5px;
}

ul li:hover{
    background-color: rgba(172, 167, 167, 0.157);
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

li{
    display: inline;    
    padding: 50px 100px;
}

li a{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #CECECE;
}